# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db
